@import "tailwindcss";

@theme{
  --color-primary: #F84565 ;
  --color-secondary: #D63854 ;
}

*{
  scrollbar-width: thin;
  scrollbar-color: var(--color-secondary) transparent;
}

body{
  color: white;
  background-color: #09090B;
}
/* Hide scrollbar for Chrome, Safari, and Edge */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}
