@import "tailwindcss";

@theme{
  --color-primary: #F84565 ;
  --color-secondary: #D63854 ;
}

*{
  scrollbar-width: thin;
  scrollbar-color: var(--color-secondary) transparent;
}

body{
  color: white;
  background-color: #09090B;
}